
__pycache__/
*.py[cod]
*.class

*.so

.ipynb_checkpoints/

*.swp
*.swo
*.idea/
*.vscode/
*.DS_Store

*.log
*.out
*.err

env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.env
.env

*.egg-info/
*.eggs/
dist/
build/
*.egg

*.bak
*.tmp
*.temp
*.ipynb-meta
.venv/

